{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="row g-4">
  <div class="col-md-6"><div class="card p-4"><h4>Profile Details</h4>
    <form method="post">
      <div class="mb-3"><label>Name</label><input class="form-control" name="name" value="{{ current_user.name }}"></div>
      <button class="btn btn-primary">Update Profile</button>
    </form>
  </div></div>
  <div class="col-md-6"><div class="card p-4"><h4>Change Password</h4>
    <form method="post">
      <div class="mb-3"><input class="form-control" type="password" name="old_password" placeholder="Current password"></div>
      <div class="mb-3"><input class="form-control" type="password" name="new_password" placeholder="New password (8+)"></div>
      <button class="btn btn-warning">Change Password</button>
    </form>
  </div></div>
</div>
{% endblock %}
